{
  "extends": [
    "stylelint-config-prettier",
    "stylelint-config-recess-order"
  ],

  "overrides": [
    {
      "files": ["**/*.tsx"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ],
	"rules": {}
}